/* stylelint-disable */
@tailwind preflight;
@tailwind components;

/**
 * Sage’s styles
 *
 * Placing these here allows you to use @apply
 * to apply Tailwind’s utilities
 */
@import "common/variables";

/** Import everything from autoload */
// @import "./autoload/**/*";
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "components/navigation";
@import "components/pagenavi";
@import "components/sidebar";
@import "font-awesome/scss/font-awesome";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
@import "layouts/search";

@tailwind utilities;

.object-fit-cover {
  object-fit: cover;
}

figure.aligncenter {
  margin: 0 auto !important;
}

@media (prefers-color-scheme: dark) {
  .article-content {
    background-color: #24272d;
    color: white;
    box-shadow: 0px 80px 100px #000;
  }
  .single {
    article {
      background-color: #24272d;
      color: #fff;

      a.text-black,
      .meta-wp *{
        color: white !important;
      }

      header,
      header * {
        background-color: #24272d !important;
        color: #fff !important;
      }
    }
  }
  .home {
    article,
    .main-box-shadow {
      background-color: #24272d;
      color: white;

      a.text-black,
      .meta-wp *{
        color: white !important;
      }

      header,
      header * {
        background-color: #24272d !important;
        color: #fff !important;
      }
    }
  }
}
